.modal-content {

    h3 {
        text-align: center;
    }

    p {
        margin: 50px 0;
    }

    .posted-by {
        color: rgba(0, 0, 0, 0.5);
    }

    .loaded-data {
        padding: 0 10px;
        
        h3,
        p {
            overflow: hidden;
        }
        
        .posted-by {
            margin: 0;
        }
    }
}

.interested {
    text-align: center;

    a {
        background-color: $navbarColor;
        padding: 10px;
        color: white;
        border-radius: 10px;

        &:hover {
            background-color: black;
            color: white;
        }
    }
}
