<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Rails-102018</title>
    </head>
    <body>
        <%= render 'posts/modal' %>

        <div class="container">
            <div class="row">
                <%= render 'pages/index/side_menu' %>
                <%= render 'pages/index/main_content' %>

            </div><!-- row -->
        </div><!-- container -->
    </body>
</html>